body {
  font-family: "Exo", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.main-header {
  padding-top: 215px;
  padding-bottom: 224px;
  background-image: url(../images/mounts-1440w.jpg);
}
.main-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slogan {
  margin-bottom: 41px;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 1.8px;
  color: #282828;
  font-weight: 100;
  text-align: center;
}
.button-play {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 38px;
  background-color: #8185a3;
  border: 0px;
  border-radius: 50%;
}
.button-play::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 24px;
  display: block;
  width: 17px;
  height: 19px;
  background-image: url(../images/icon-triangle.svg);
}
.button-play:hover {
  background-color: #67697a;
  cursor: pointer;
}
.button-play:hover .button-play::before {
  top: 23px;
  left: 27px;
}
.button {
  width: 192px;
  margin-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ff6d6d;
  border: 0;
  border-radius: 3px;
}
.button:hover {
  background-color: #bf6d6d;
  cursor: pointer;
}
.footnote {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282828;
}
.new-design h2,
.new-features h2,
.new-features h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.8px;
  color: #282828;
}
.new-features h3 {
  font-size: 22px;
  line-height: 2.2;
  letter-spacing: 0.5px;
  text-align: center;
}
.new-design p,
.new-features p {
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.3px;
  color: rgba(40, 40, 40, 0.659);
}
.new-features .label,
.new-features h2 {
  display: block;
  text-align: center;
}
.label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 2.9px;
  color: #ff6d6d;
  text-transform: uppercase;
}
.dots {
  padding-left: 3px;
  letter-spacing: 4px;
  color: #ff6d6d;
}
.new-design--first {
  padding-top: 182px;
  padding-bottom: 138px;
  background: url(../images/bg-right.png) no-repeat right top;
}
.new-design--first .wrapper {
  max-width: 60.5%;
}
.new-design--first .content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.new-design--first h2 {
  margin-bottom: 39px;
}
.new-features--first {
  padding-top: 128px;
  padding-bottom: 155px;
  background: url(../images/bg-features.jpg) no-repeat top;
  background-color: #f6f5f3;
}
.new-features--first h2 {
  margin-bottom: 78px;
}
.new-features--first p {
  text-align: center;
}
ul.features-list,
ul.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.features-item {
  position: relative;
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
  padding-top: 81px;
  padding-left: 4px;
  padding-right: 6px;
}
.features-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 146px;
  width: 67px;
  height: 67px;
  background-image: url(../images/icon-picture.png);
}
.features-item:nth-child(2)::before {
  left: 144px;
  background-image: url(../images/icon-airplane.png);
}
.features-item:nth-child(3)::before {
  left: 144px;
  background-image: url(../images/icon-bulb.png);
}
.new-design--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: url(../images/bg-left.svg) no-repeat top left;
}
.new-design--second img,
.new-design--second .wrapper {
  max-width: 720px;
}
.new-design--second .wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 132px;
}
.new-design--second .content {
  max-width: 514px;
  padding-left: 16px;
}
.new-design--second h2 {
  margin-top: 8px;
  margin-bottom: 32px;
  letter-spacing: 0.9px;
}
.new-design--second p {
  letter-spacing: 0.4px;
}
.clients {
  padding-top: 108px;
  padding-bottom: 67px;
  background: url(../images/bg-clients-1440w.jpg) no-repeat left top;
}
ul.clients__reviews {
  margin-bottom: 60px;
}
.reviews__item {
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 13px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reviews__item img {
  width: 76px;
  height: 76px;
  border: 2px solid #1d1e24;
  margin-bottom: 20px;
}
.review__user-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.review__user-position {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.5px;
  color: #ff6d6d;
  margin-bottom: 24px;
}
.review__user-text {
  max-width: 360px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.65;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: center;
  opacity: 0.66;
}
ul.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.logo-item {
  -ms-flex-preferred-size: 165px;
  flex-basis: 165px;
  min-height: 60px;
}
.logo-item {
  position: relative;
}
.logo-item:nth-child(1) img {
  position: relative;
  top: -4px;
  left: 17px;
}
.logo-item:nth-child(2) img {
  position: relative;
  top: 0px;
  left: 27px;
}
.logo-item:nth-child(3) img {
  position: relative;
  top: -14px;
  left: 33px;
}
.logo-item:nth-child(4) img {
  position: relative;
  top: -2px;
  left: 34px;
}
.logo-item:nth-child(5) img {
  position: relative;
  top: 1px;
  left: 20px;
}
.new-features--second {
  padding-top: 99px;
}
.new-features--second h2 {
  margin-bottom: 32px;
}
.new-features--second p {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 89px;
  text-align: center;
}
.new-features--second img {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
.new-features--third {
  padding-top: 89px;
  padding-bottom: 55px;
  background-color: #323969;
}
.new-features--third h2 {
  margin-bottom: 28px;
  letter-spacing: 1px;
  color: #ffffff;
}
.form-registration {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding-left: 15px;
  padding-right: 14px;
}
ul.form-registration__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.form-registration input {
  width: 262px;
  height: 49px;
  margin-bottom: 15px;
  padding-left: 26px;
  letter-spacing: 0.1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
.form-registration input:focus {
  background-color: #ffffff;
}
.form-registration input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.form-registration input:focus::-moz-placeholder {
  color: #ffffff;
}
.form-registration input:focus:-ms-input-placeholder {
  color: #ffffff;
}
.form-registration input:focus::-ms-input-placeholder {
  color: #ffffff;
}
.form-registration input:focus::placeholder {
  color: #ffffff;
}
.form-registration input::-webkit-input-placeholder {
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #f6f5f3;
  opacity: 1;
  text-transform: uppercase;
}
.form-registration input::-moz-placeholder {
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #f6f5f3;
  opacity: 1;
  text-transform: uppercase;
}
.form-registration input:-ms-input-placeholder {
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #f6f5f3;
  opacity: 1;
  text-transform: uppercase;
}
.form-registration input::-ms-input-placeholder {
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #f6f5f3;
  opacity: 1;
  text-transform: uppercase;
}
.form-registration input::placeholder {
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #f6f5f3;
  opacity: 1;
  text-transform: uppercase;
}
.form-registration .button {
  width: 260px;
  font-weight: 400;
  letter-spacing: 0px;
  background-color: #ff6d6d;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
  box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
  border: 1px solid #ff6d6d;
  border-radius: 3px;
}
.form-registration .button:hover {
  background-color: #bf6d6d;
  border: 1px solid #bf6d6d;
  cursor: pointer;
}
.form-registration li:last-child {
  position: relative;
  padding-top: 64px;
}
.form-registration li:last-child::before {
  position: absolute;
  top: 7px;
  left: 1px;
  content: "";
  width: 17px;
  height: 41px;
  background-image: url(../images/icon-arrow.png);
}
.form-registration li:last-child::after {
  position: absolute;
  top: 2px;
  left: 36px;
  content: "30 days free trial for all";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #f6f5f3;
}
p.agreement-text {
  color: #f6f5f3;
  text-align: center;
  opacity: 60%;
}
.agreement-text a {
  font-size: 16px;
  font-weight: 400;
  color: #f6f5f3;
}
.agreement-text a:hover {
  text-decoration: none;
}
.main-footer {
  padding-top: 85px;
  padding-bottom: 88px;
  background: url(../images/bg-footer.svg) no-repeat top right;
}
.main-footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.contacts {
  max-width: 265px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.contacts .logo {
  margin-left: 2px;
  margin-bottom: 4px;
}
.contacts p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(40, 40, 40, 0.561);
  line-height: 1.9;
  letter-spacing: 0.2px;
  text-align: left;
}
.support b,
.about-us b,
.newsletter b {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #282828;
}
.support,
.about-us {
  max-width: 165px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.about-us {
  padding-left: 4px;
}
.communication {
  max-width: 455px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
ul.navigation {
  padding-top: 8px;
}
.navigation a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(40, 40, 40, 0.659);
  line-height: 2.143;
  letter-spacing: 0.4px;
  text-decoration: none;
}
.navigation a:hover {
  text-decoration: underline;
}
.newsletter {
  margin-bottom: 20px;
}
.form-newsletter {
  position: relative;
  padding-top: 18px;
}
.form-newsletter input {
  width: 262px;
  height: 49px;
  padding-left: 27px;
  font-weight: 400;
  border: 1px solid #4e4e5e;
  border-radius: 3px;
  background-color: rgba(141, 141, 141, 0.2);
  opacity: 0.4;
}
.form-newsletter input:focus {
  background-color: #ffffff;
}
.form-newsletter input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.form-newsletter input:focus::-moz-placeholder {
  color: #ffffff;
}
.form-newsletter input:focus:-ms-input-placeholder {
  color: #ffffff;
}
.form-newsletter input:focus::-ms-input-placeholder {
  color: #ffffff;
}
.form-newsletter input:focus::placeholder {
  color: #ffffff;
}
.form-newsletter input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}
.form-newsletter input::-moz-placeholder {
  font-size: 16px;
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}
.form-newsletter input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}
.form-newsletter input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}
.form-newsletter input::placeholder {
  font-size: 16px;
  line-height: 2.7;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}
.form-newsletter__button {
  position: absolute;
  top: 18px;
  left: 215px;
  width: 52px;
  height: 49px;
  background-image: url(../images/icon-aircraft.svg) no-repeat;
  border: 1px solid rgb(255, 109, 109);
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
  box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
}
.form-newsletter__button::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-aircraft.svg);
}

.form-newsletter__button:hover {
  border: 1px solid #bf6d6d;
}
.social {
  max-width: 252px;
}
ul.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 154px;
  margin-left: auto;
  margin-right: auto;
}
.social-links__link:hover {
  opacity: 0.7;
}
.swiper-pagination {
  display: none;
}
.swiper-container-reviews,
.swiper-container-logo {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}
.swiper-pagination-bullet {
  background-color: #ff6d6d;
}
@media screen and (min-width: 1441px) {
  main {
    max-width: 1920px;
  }
  .main-header {
    background-image: url(../images/mounts-1920w.jpg);
  }
  .clients {
    background-image: url(../images/bg-clients-1920w.jpg);
  }
}
@media screen and (max-width: 1259px) {
  .new-design--first .wrapper {
    max-width: none;
  }
  .new-design--first .content {
    margin-left: 5%;
  }
  .new-design--first {
    background: url(../images/rectangle-right.svg) no-repeat right top;
  }
  .new-features--first {
    padding-bottom: 125px;
  }
  .new-design--second {
    background: url(../images/rectangle-left.svg) no-repeat top left;
  }
  .new-design--second img {
    margin-left: calc(100% - 1260px);
  }
  .clients {
    padding-bottom: 20px;
  }
  .new-features--second {
    padding-left: 15px;
    padding-right: 15px;
  }
  .new-features--second img {
    max-width: 90%;
  }
  ul.form-registration__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-footer .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 45px;
    margin-right: 45px;
  }
  .contacts,
  .support,
  .about-us {
    width: 300px;
    margin-bottom: 20px;
  }
  .swiper-container {
    width: 720px;
    height: 260px;
  }
  .swiper-container-reviews {
    width: 720px;
    height: 340px;
    margin-bottom: 40px;
  }
  .swiper-container-logo {
    width: 660px;
    height: 120px;
  }
  .swiper-pagination {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main-header {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../images/mounts-768w.jpg);
  }
  .slogan {
    font-size: 40px;
    line-height: 52px;
  }
  .new-design--first,
  .new-features--first,
  .new-design--second .wrapper,
  .main-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .new-design--first .content {
    margin-left: 0;
    margin-right: 0;
  }
  .new-features--first {
    background: #f6f5f3;
  }
  .new-features--first h2 {
    margin-bottom: 50px;
  }
  .new-design--second img {
    display: none;
  }
  .new-design--second .wrapper {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-left: auto;
    padding-right: 20px;
  }
  .new-features--second p {
    margin-bottom: 40px;
  }
  .clients,
  .new-features--second,
  .new-features--third {
    padding-top: 80px;
  }
  .clients {
    background: url(../images/bg-clients-768w.jpg) no-repeat left top;
  }
  .new-features--third {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 0px;
  }
  .swiper-container {
    width: 360px;
    height: 262px;
  }
  .swiper-container-reviews {
    width: 360px;
    height: 340px;
  }
  .swiper-container-logo {
    width: 340px;
  }
}
@media screen and (max-width: 425px) {
  .main-header {
    background-image: url(../images/mounts-425w.jpg);
  }
  .main-footer {
    background: #ffffff;
  }
  .contacts,
  .support,
  .about-us {
    width: 100%;
  }
}
@media screen and (max-width: 379px) {
  .main-header {
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 80px;
    padding-left: 15px;
  }
  .features-item {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
  }
  .features-item:nth-child(n)::before {
    left: 116px;
  }
  .new-design--first,
  .new-features--first,
  .new-design--second .wrapper,
  .main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .new-design--second .wrapper,
  .clients,
  .new-features--third,
  .new-features--second {
    padding-top: 60px;
  }
  .reviews__item {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
  }
  .logo-item:nth-child(n) img {
    position: static;
  }
  .swiper-container {
    width: 300px;
    height: 280px;
  }
  .logo-item {
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
  }
  .swiper-container-reviews {
    width: 300px;
    height: 360px;
  }
  .swiper-container-logo {
    width: 265px;
    height: 150px;
  }
}
